# TRABALHANDO COM PLANILHAS DO **EXCEL**

In [1]:
import pandas as pd

In [10]:
folder_path = "/content/drive/MyDrive/Colab Notebooks/datasets/"

In [11]:
df1 = pd.read_excel(f"{folder_path}Aracaju.xlsx")
df2 = pd.read_excel(f"{folder_path}Fortaleza.xlsx")
df3 = pd.read_excel(f"{folder_path}Natal.xlsx")
df4 = pd.read_excel(f"{folder_path}Recife.xlsx")
df5 = pd.read_excel(f"{folder_path}Salvador.xlsx")

In [12]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [15]:
df = pd.concat([df1,df2,df3,df4,df5])
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [16]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [17]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
53   Fortaleza 2019-01-01   11.48    1002     4
25      Recife 2019-01-01  161.60     982     5
84   Fortaleza 2019-01-01  147.46    1003     6
32      Recife 2019-01-01   15.93     982     7
105    Aracaju 2018-01-01   24.81    1520     5

In [18]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [19]:
df["LojaID"] = df["LojaID"].astype("object")
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [20]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

## **Tratando valores faltantes**

In [21]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [23]:
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)
df["Vendas"].mean()

122.61180089485458

In [24]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [25]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
36     Aracaju 2018-01-01   37.99   1523     8
123  Fortaleza 2019-03-02   20.22    981     6
212   Salvador 2019-01-02   50.73   1037     3
16     Aracaju 2018-01-01   37.68   1522    10
83      Recife 2019-01-01  143.61    983     6
31   Fortaleza 2019-01-01   23.46   1002     4
85    Salvador 2019-01-01   16.88   1035     3
67    Salvador 2019-01-01   36.89   1037     2
97      Recife 2019-01-01  153.04    983     4
104    Aracaju 2018-01-01   46.96   1522     1
143   Salvador 2019-01-02   41.18   1037     2
66     Aracaju 2018-01-01   76.59   1523     4
39   Fortaleza 2019-01-01  176.51   1005     1
134     Recife 2019-03-02  195.18    980     5
136      Natal 2019-01-02   13.81   1036     1

In [26]:
df["Vendas"].fillna(0, inplace=True)

In [27]:
df.dropna(inplace=True)

In [28]:
df.dropna(subset=["Vendas"], inplace=True)

In [29]:
df.dropna(how="all", inplace=True)

## **Criando colunas novas**

In [31]:
df["Receita"] = df["Vendas"].mul(df["Qtde"])
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [32]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"] 
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [33]:
df["Receita"].max()

3544.0

In [34]:
df["Receita"].min()

3.34

In [35]:
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [36]:
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [37]:
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [38]:
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

## **Trabalhando com datas**

In [39]:
df["Data"] = df["Data"].astype("int64")
df.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [41]:
df["Data"] = pd.to_datetime(df["Data"])
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [42]:
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [43]:
df["Ano_Venda"] = df["Data"].dt.year
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
7,Natal,2019-03-18,886.00,853,4,3544.00,4.0,2019
114,Fortaleza,2019-03-02,16.82,983,4,67.28,4.0,2019
86,Recife,2019-01-01,17.83,982,8,142.64,8.0,2019
56,Salvador,2019-01-01,178.44,1035,3,535.32,3.0,2019
222,Salvador,2019-01-02,43.96,1037,1,43.96,1.0,2019

In [44]:
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
132,Recife,2019-03-02,17.49,983,5,87.45,5.0,2019,3,2
0,Recife,2019-01-01,162.61,981,1,162.61,1.0,2019,1,1
7,Fortaleza,2019-02-11,35.50,1003,2,71.00,2.0,2019,2,11
8,Fortaleza,2019-02-11,37.49,1005,1,37.49,1.0,2019,2,11
44,Fortaleza,2019-01-01,215.11,1003,1,215.11,1.0,2019,1,1

In [45]:
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [47]:
df["diferenca_dias"] = df["Data"] - df["Data"].min()
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias
100,Recife,2019-01-01,35.11,982,4,140.44,4.0,2019,1,1,365 days
218,Salvador,2019-01-02,189.12,1036,3,567.36,3.0,2019,1,2,366 days
36,Fortaleza,2019-01-01,36.31,1004,2,72.62,2.0,2019,1,1,365 days
52,Salvador,2019-01-01,43.77,1036,2,87.54,2.0,2019,1,1,365 days
75,Recife,2019-01-01,170.29,981,8,1362.32,8.0,2019,1,1,365 days

In [48]:
df["trimestre_venda"] = df["Data"].dt.quarter
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
35,Recife,2019-01-01,148.90,983,1,148.90,1.0,2019,1,1,365 days,1
119,Recife,2019-03-02,152.30,982,7,1066.10,7.0,2019,3,2,425 days,1
82,Natal,2019-03-07,868.00,854,3,2604.00,3.0,2019,3,7,430 days,1
7,Fortaleza,2019-02-11,35.50,1003,2,71.00,2.0,2019,2,11,406 days,1
194,Salvador,2019-01-02,156.47,1035,1,156.47,1.0,2019,1,2,366 days,1

In [49]:
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
134,Recife,2019-03-02,195.18,980,5,975.90,5.0,2019,3,2,425 days,1
19,Natal,2019-03-31,282.00,854,2,564.00,2.0,2019,3,31,454 days,1
115,Salvador,2019-03-02,202.33,1035,2,404.66,2.0,2019,3,2,425 days,1
118,Fortaleza,2019-03-02,17.70,981,5,88.50,5.0,2019,3,2,425 days,1
127,Salvador,2019-03-02,240.61,1035,3,721.83,3.0,2019,3,2,425 days,1
120,Fortaleza,2019-03-02,184.90,982,4,739.60,4.0,2019,3,2,425 days,1
116,Salvador,2019-03-02,41.78,1034,3,125.34,3.0,2019,3,2,425 days,1
7,Natal,2019-03-18,886.00,853,4,3544.00,4.0,2019,3,18,441 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days,1
134,Fortaleza,2019-03-02,195.18,980,5,975.90,5.0,2019,3,2,425 days,1
130,Salvador,2019-03-02,59.78,1036,1,59.78,1.0,2019,3,2,425 days,1
118,Salvador,2019-03-02,92.21,1035,2,184.42,2.0,2019,3,2,425 days,1
124,Salvador,2019-03-02,44.82,1034,3,134.46,3.0,2019,3,2,425 days,1
45,Natal,2019-03-11,431.00,852,3,1293.00,3.0,2019,3,11,434 days,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,1.0,2019,3,2,425 days,1
128,Salvador,2019-03-02,36.84,1034,1,36.84,1.0,2019,3,2,425 days,1
132,Recife,2019-03-02,17.49,983,5,87.45,5.0,2019,3,2,425 days,1
122,Salvador,2019-03-02,13.27,1037,1,13.27,1.0,2019,3,2,425 days,1
127,Fortaleza,2019-03-02,39.56,982,8,316.48,8.0,2019,3,2,425 days,1
122,Recife,2019-03-02,235.06,983,3,705.18,3.0,2019,3,2,425 days,1